
<!doctype html>
<html lang="pt-br"
    xmlns:fb="http://developers.facebook.com/schema/"  
    xmlns:og="http://opengraphprotocol.org/schema/">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sertão Livre</title>

        <meta name="description" content="Aprenda a ser tão livre!"/>
        <meta name="keywords" content="sertão, livre, sertão livre, evento, software, open-source"/>
        <meta name="author" content="www.in4.com.br"/>
        <meta name="robots" content="index, follow"/>
            
        <meta property="og:title" content="Sertão Livre">

        <meta property="og:description" content="Aprenda a ser tão livre!">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="">

        <meta property="og:locale" content="pt_BR">
        <meta property="og:site_name" content="Sertão Livre">
        <meta property="og:type" content="website">
        <meta property="fb:app_id" content="">
        <link rel="canonical" href="http://sertaolivre.org/">
    
 
        <link rel="shortcut icon" href="">
        <link rel="apple-touch-icon" href="">
        <style type="text/css">
          .center {
            text-align: center;
          }
          body {
            background: #015b87;
          }
          .logo-img {
            width: 100%;
            max-width: 1024px;
          }
        </style>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50973744-1', 'sertaolivre.org');
          ga('send', 'pageview');

        </script>

    </head>
    <body class="source-sans">
        <main id="main">
            <div class="center">
                <img src="{{ STATIC_URL }}site/img/logo.png" class="logo-img" alt="Sertão Livre">
            </div>
        </main>
    </body>
</html>
