{% extends "admin/base_site.html" %}
{% load i18n admin_static suit_tags %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />#}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}{% endblock %}

{% block content-left %}{% endblock %}


{% block container %}
    {% block content %}
        <div id="content-main">
            <h1><i class="icon-lock icon-white"></i> {{ 'ADMIN_NAME'|suit_conf }}</h1>
            <form id="login-form" action="{% url 'admin:index' %}" method="get">
                <h3>{% trans "Obrigado por nos visitar." %}</h3>

                <br>
                <div class="submit-row">
                    <a href="{% url 'admin:index' %}"><input type="submit" value="{% trans 'Log in again' %}" class="btn btn-info"/></a>
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}