{% extends "admin/base.html" %}
{% load admin_static site %}

{% block header_content %}
    {{ block.super }}
    <div class="header-content" id="last-login-id">
        <div class="header-column icon">
            <i class="icon-comment"></i>
        </div>
        <div class="header-column">
            <span class="grey">Último login: {{ user.last_login|date:"j. F Y" }}</span>
            <br>
            <span class="time" id="clock">{{ user.last_login|date:"H:i" }}</span>
        </div>
    </div>
{% endblock %}

{% block footer_links %}
  <a href="mailto:leonardocsantoss@gmail.com" target="_blank" class="icon"><i class="icon-comment"></i>Suporte</a>
{% endblock %}

{% block copyright %}
  Copyright &copy; {% now "Y" %}<br>Developed by <a href="http://in4.com.br" target="_blank">In4</a>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightbox/themes/default/jquery.lightbox.css" />
  <!--[if IE 6]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightbox/themes/default/jquery.lightbox.ie6.css" />
  <![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}lightbox/jquery.lightbox.min.js"></script>

  <script type="text/javascript">
      $('.lightbox').lightbox();
  </script>
  <script type="text/javascript">
  /* action-button, using to create links buttons on listview */
  (function($) {
      $(document).ready(function() {
          $('.action-link').click(function(){
              var object_id = $(this).attr('object-id'),
              action = $(this).attr('action');
              $('input:checkbox[name=_selected_action][value='+object_id+']').attr('checked', 'checked');
              $('.actions option[value="'+action+'"]').attr('selected', 'selected');
              $('#changelist-form').submit();
              return false;
          });
      });
  })(django.jQuery);
  </script>
{% endblock %}