{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrajs %}
  {{ block.super }}

  {% if 'CONFIRM_UNSAVED_CHANGES'|suit_conf %}
    <!-- Warn on leaving unsaved form -->
    <script src="{% static 'suit/js/suit-form-confirm.js' %}"></script>
    <script type="text/javascript">
      confirmExitIfModified('{{ opts.module_name }}_form', '{% trans 'You have unsaved changes' %}.');
    </script>
  {% endif %}

  {% if adminform.model_admin.suit_form_tabs %}
    <script type="text/javascript">
    (function ($) {
      $(function () {
        $('#suit_form_tabs').suit_form_tabs();
      });
    }(Suit.$))
    </script>
  {% endif %}
        
  <script>
    (function ($) {
      $(function () {
        $("#{{ opts.module_name }}_form").suit_form_debounce();
      });
    }(Suit.$))    
  </script>

  <script type="text/javascript">
    (function($) {
        $(function() {
          var getlookup = function(vfk){
            var ant = $(vfk).val();
            var interval = setInterval(function(){
              if($(vfk).val() != ant){
                $.ajax({
                  dataType: "json",
                  url: url,
                  data: {'object_id': $(vfk).val()},
                  success: function(data){
                      if(data.value){
                        if($(vfk).parent().find('strong').length > 0){
                          $(vfk).parent().find('strong').html(data.label);
                        }else{
                          $(vfk).parent().append('<strong>'+data.label+'</strong>');
                        }
                        clearInterval(interval);
                      }
                  }
                });
              }
            },500);
          };
          if($(".vForeignKeyRawIdAdminField").length){
            var interval;
            var url = $('.related-lookup').attr('href').split('?')[0]+'lookup/related/';
            $(".related-lookup").click(function(event) {
              getlookup($(this).parent().find('.vForeignKeyRawIdAdminField'));
            });
            $(".vForeignKeyRawIdAdminField").change(function(event) {
              getlookup($(this));
            });
          }
        });
    })(Suit.$)
  </script>
  {# Filtro pela instituição #}
  {% if request.session.instituicao %}
  <script type="text/javascript">
    (function($) {
        $(function() {
          $('#id_instituicao option[value="{{ request.session.instituicao|floatformat:"0" }}"]').prop('selected', true);
          $('#id_instituicao').change();
          $('.field-instituicao').hide();
        });
    })(Suit.$)
  </script>
  {% endif %}
  {# Filtro pelo ano #}
  {% if request.session.ano %}
  <script type="text/javascript">
    (function($) {
        $(function() {
          $('#id_ano option[value="{{ request.session.ano|floatformat:"0" }}"]').prop('selected', true);
          $('#id_ano').change();
          $('.field-ano').hide();
        });
    })(Suit.$)
  </script>
  {% endif %}
  {# Filtro pelo mes #}
  {% if request.session.mes %}
  <script type="text/javascript">
    (function($) {
        $(function() {
          $('#id_mes option[value="{{ request.session.mes|floatformat:"0" }}"]').prop('selected', true);
          $('#id_mes').change();
          $('.field-mes').hide();
        });
    })(Suit.$)
  </script>
  {% endif %}
  {# ctrl+s salvar #}
  <script type="text/javascript">
    (function($) {
        $(function() {
          $(window).bind('keydown', function(event) {
              if (event.ctrlKey || event.metaKey) {
                  if (String.fromCharCode(event.which).toLowerCase() == 's') {
                    event.preventDefault();
                    $('.submit-row button[name="_save"]').click();
                  }
              }
          });

          $('body').on('keydown', 'input, select, textarea', function(e) {
              var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
              if (e.keyCode == 13) {
                  focusable = form.find('input,select,button,textarea').filter(':visible');
                  next = focusable.eq(focusable.index(this)+1);
                  if (next.length) {
                      next.focus();
                  } else {
                      form.submit();
                  }
                  return false;
              }
          });
        });
    })(Suit.$)
  </script>

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block content_title_value %}
  {% trans 'Add' %} {{ opts.verbose_name }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %}
          <a href="{% url opts|admin_urlname:'changelist' %}">
            {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
          {{ opts.verbose_name_plural|capfirst }}{% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main" class="inner-two-columns">

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.module_name }}_form" class="form-horizontal">

      <div class="inner-right-column">

        <div class="box save-box">

          {% if readonly %}
            <div class="submit-row clearfix">
              <a href="../"><button type="button" class="btn btn-high">Voltar</button></a>
            </div>
          {% else %}
          {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
          {% endif %}

        </div>

        {% block object-tools %}
          {% if change %}{% if not is_popup %}
            <h4 class="italic-title">{% trans 'Ferramentas'|capfirst %}</h4>
            <ul class="box menu-box">
              {% block object-tools-items %}
                <li><a href="history/" class="historylink"><i
                    class="icon-time icon-alpha75"></i>{% trans "History" %}</a>
                </li>
                {% if has_absolute_url %}
                  <li>
                    <a href="../../../r/{{ content_type_id }}/{{ object_id }}/"
                       class="viewsitelink"><i class="icon-eye-open icon-alpha75"></i>{% trans "View on site" %}
                    </a></li>
                {% endif %}

                {% if has_add_permission %}
                  <li>
                    <a href="../add/"><i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a></li>
                  {# {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>#}
                {% endif %}
                {% for button in buttons %}
                  <li>
                    <a href="{{ button.get_url }}"{% for key,val in button.attrs.items %}{{ key }}="{{ val }}"{% endfor %}><i class="icon-th icon-alpha75"></i>{{ button.label }}</a>
                  </li>
                {% endfor %}

              {% endblock %}
            </ul>
          {% endif %}{% endif %}
        {% endblock %}

      {% block sidebar %}{% endblock %}

      </div>
      <div class="inner-center-column">
        {% csrf_token %}{% block form_top %}{% endblock %}
        {% block suit_form_tabs %}
          {% if adminform.model_admin.suit_form_tabs %}
            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
              {% for tab in adminform.model_admin.suit_form_tabs %}
                <li><a href="#{{ tab.0 }}">{{ tab.1 }}</a></li>{% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
        <div class="tab-content tab-content-main">
          {% if is_popup %}
            <input type="hidden" name="_popup" value="1"/>{% endif %}
          {% if errors %}
            <div class="alert alert-error">
              {% blocktrans count counter=errors|length %}Por favor corrija o erro abaixo.{% plural %} Por favor corrija os erros abaixo.{% endblocktrans %}
              {{ adminform.form.non_field_errors }}
            </div>
          {% endif %}

          {# render suit_form_includes at top position #}
          {% include 'suit/includes/change_form_includes.html' with position='top' %}

          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}

          {# render suit_form_includes at middle position #}
          {% include 'suit/includes/change_form_includes.html' with position='middle' %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

        </div>

        {% block after_related_objects %}{% endblock %}

        {# render suit_form_includes at last position #}
        {% include 'suit/includes/change_form_includes.html' with position='bottom' %}

        {% if adminform and add %}
          <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
        {% endif %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
  </div>
{% endblock %}

{# Empty centered sidebar as now we use sidebar in content block#}
{% block sidebar_content %}{% endblock %}
