{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}


{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <span class="divider">&raquo;</span>
  </li>
  <li>
    {% if has_change_permission %}
      <a href="{% url opts|admin_urlname:'changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
      {{ opts.verbose_name_plural|capfirst }}{% endif %}
    <span class="divider">&raquo;</span>
  </li>
  <li class="active">
    {{ title }}
  </li>
</ul>
{% endblock %}


{% block content %}
<div id="content-main" class="inner-two-columns">
    <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
        <div class="inner-right-column">
            <div class="box save-box">
                <div class="submit-row clearfix">
                    <button type="submit" class="btn btn-high btn-info" name="_save">{% trans 'Importar' %}</button>
                    <a href="../" class="text-error deletelink"><button type="button" class="btn">{% trans "Cancelar" %}</button></a>
                </div>
            </div>
        </div>
        <div class="inner-center-column">
            {% csrf_token %}
            <div class="tab-content tab-content-main">
                {% if form.errors %}
                <div class="alert alert-error">
                    {% blocktrans count counter=form.errors|length %}Por favor corrija o erro abaixo.{% plural %} Por favor corrija os erros abaixo.{% endblocktrans %}
                </div>
                {% endif %}

                {# render suit_form_includes at top position #}
                {% include 'suit/includes/change_form_includes.html' with position='top' %}

                <fieldset class="module aligned first ">
                {% for field in form %}
                    <div class="control-group form-row{% if field.errors %} errors{% endif %} multi-field-row">
                        <div>
                            <div class="control-label">
                                {{ field.label_tag }}
                            </div>
                            <div class="controls">
                                {{ field }}
                                {% if field.help_text or field.errors %}
                                    <span class="help-inline">{{ field.errors }}{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </fieldset>

                {# render suit_form_includes at middle position #}
                {% include 'suit/includes/change_form_includes.html' with position='middle' %}
            </div>
            {# render suit_form_includes at last position #}
            {% include 'suit/includes/change_form_includes.html' with position='bottom' %}
        </div>
    </form>
</div>
{% endblock %}