{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load suit_tags site %}

{% block extrajs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({% chart_data request user %});
        var options = {
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{{ 'ADMIN_NAME'|suit_conf }}{% endblock %}

{% block content %}
  <div class="module dashboard-menu">
    <div class="table-overview applist">
      {% for item in 'DASHBOARD'|suit_conf %}
        {% if perms|has_perms:item.permissions %}
          <a href="{{ item.url }}"><i class="{{ item.icon }}"></i>{{ item.label }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="content-main">
    <h4 class="italic-title">{% trans 'Matrículas/Semestre' %}</h4>
    <div class="module table-overview applist">
      <br>
      <div id="chart_div" style="max-width: 1062px;">
      </div>
      <br>
    </div>
  </div>
{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title">{% trans 'Últimas ações' %}</h4>

      {% load log %}
      {% if user.is_superuser %}
      {% get_admin_log 10 as admin_log %}
      {% else %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% endif %}
      {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
      {% else %}
        <ul class="actionlist" style="width: 100%;">
          {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

              <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

              {% spaceless %}
                <span class="mini quiet">{{ entry.user }}</span>

                {% if entry.is_addition %}{% trans 'adicionou' %}{% endif %}
                {% if entry.is_change %}{% trans 'editou' %}{% endif %}
                {% if entry.is_deletion %}{% trans 'removeu' %}{% endif %}

                {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}
                    {% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                  <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
              {% endspaceless %}&nbsp;

              {% if entry.is_deletion or not entry.get_admin_url %}
                <span class="color-grey">{{ entry.object_repr }}</span>
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title">{% trans 'Notícias' %}</h4>
        {% feed_data as feed %}
        <ul class="actionlist" style="width: 100%;">
          {% for news in feed.entries %}
            <li>
                <a href="{{ news.link }}" target="_blank">{{ news.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
