{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <span class="divider">&raquo;</span></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
      <span class="divider">&raquo;</span></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a>
      <span class="divider">&raquo;</span></li>
    <li class="active">{% trans 'History' %}</li>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">

{% if action_list %}
    <table id="change-history" class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
            <th scope="col"><span>{% trans 'Date/time' %}</span></th>
            <th scope="col"><span>{% trans 'User' %}</span></th>
            <th scope="col"><span>{% trans 'Tipo' %}</span></th>
            <th scope="col"><span>{% trans 'Action' %}</span></th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
            <td>{{ action.user.username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
            <td>{% if action.is_addition %}Adicionado{% endif %}{% if action.is_change %}Modificado{% endif %}{% if action.is_deletion %}Deletado{% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
</div>
</div>
{% endblock %}
